<ul>
  <li>
    <a routerLink="/about" routerLinkActive="active">{{
      "header.nav.about" | translate
    }}</a>
  </li>
  <li>
    <a routerLink="/projects" routerLinkActive="active">{{
      "header.nav.projects" | translate
    }}</a>
  </li>
  <li>
    <a routerLink="/portfolio" routerLinkActive="active">{{
      "header.nav.portfolio" | translate
    }}</a>
  </li>
  <li>
    <a routerLink="/contact" routerLinkActive="active">{{
      "header.nav.contact" | translate
    }}</a>
  </li>
</ul>
