<div class="language-selector" (click)="toggleLanguages()">
  <div *ngFor="let language of translate.getLangs()">
    <img
      *ngIf="translate.currentLang === language"
      src="assets/imgs/flags/{{ language }}.svg"
      alt="{{ 'header.flagDesc' | translate }}"
    />
  </div>

  <div *ngIf="showLanguages">
    <span *ngFor="let language of translate.getLangs()">
      <img
        *ngIf="translate.currentLang !== language"
        src="assets/imgs/flags/{{ language }}.svg"
        (click)="switchLang(language)"
      />
    </span>
  </div>
</div>
